:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway"; sans-serif;
    --accent-color: #2196F3;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    font-style: normal;
    
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.address {
    font-style: normal;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/*----------HEADER-----------*/ 

.header .container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
}
.adress-links {
    display: flex;
}

.logo {
    color: #000000;
    margin-right: 94px;
}

.color-logo{
    color: #2196F3;
}

.logo,
.color-logo {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
}

.navigation-list-link {
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.143;
   letter-spacing: 0.02em;
   color: #212121;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-address-link:hover,
.header-address-link:focus {
    color: var(--accent-color);

}

.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}


.header .address {
    margin-left: auto;
}

.adress-links-item:not(:last-child) {
    margin-right: 50px;
}


.header-address-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;
}
/*----------END HEADER-----------*/


/*----------HERO-----------*/


.hero {
    text-align: center;
}
.hero-title {
     margin: 215px 283px 28px;
     width: 696px;
     height: 120px;
     font-weight: 900;
     font-size: 44px;
     line-height: 1.364;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     /*color: #FFFFFF;*/
}

.modal-btn{
    margin-left: 485px;
    margin-right: 485px;
    margin-bottom: 188px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 20px;
    

}
/*----------END HERO-----------*/


/*----------FEUTER-----------*/
.feauter-list {
    display: flex;
}

.feauter-list-item:not(:last-child) {
    margin-right: 30px;
    
}

.feauter-title {
    margin-top: 109px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}


.feauter-description{
    margin-bottom: 94px;
     font-weight: normal;
     font-size: 14px;
     line-height: 1.714;
     letter-spacing: 0.03em;
     color: #757575;
     width: 270px;
     height: 101px;
}
/*----------END FEUTER-----------*/

/*---------- ABOUT US-----------*/

.about-list {
    display: flex;
    justify-content: space-between;
}

.about-section .title {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

/*----------END ABOUT US-----------*/

/*----------OUR TEAM-----------*/
.team-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.team-subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
}
/*----------END OUR TEAM-----------*/

/*----------COMPONENT-----------*/
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: #212121;
}
/*----------END COMPONENT-----------*/

/*----------FOOTER-----------*/

.contact-list-link-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    /*color: #FFFFFF*/
}

.contact-list-link {
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
/*color: rgba(255, 255, 255, 0.6);*/
}

/*----------END FOOTER-----------*/


/*----------FILTER-----------*/

.filtr-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
}

.filtr-btn:hover,
.filtr-btn:focus {
    background: #2196F3;
    color: #FFFFFF;
}

/*----------PORTFOLIO-----------*/

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.000;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}

